@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.contactSection{
    font-family: "Nunito", sans-serif;
}
.Contact{
    background-image: url(../../../assets/breadcrumb_bg.png);
    height: 50vh;
}
.colorPink{
    transition: all .5s;
}
.colorPink:hover{
    color: hsla(318, 64%, 43%,.5);
}
.textColorAbout{
    color: #fe5a86;
}
.InputContact{
    background-color: #f5f9fb;
    border:0;
    outline: 0;
    padding: 20px;
    width: 100%;    
}