@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Autour+One&family=Coiny&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Rubik+Gemstones&display=swap');
:root{
    --bg-form:rgb(251, 243, 213);
    --outline-color:rgba(253, 175, 123,.5);
    --bg-btn:#fdaf7b;
    --text-color:#401F71;
    --spical-color-text:#824D74;
}

.registeration{
    background-image: url(../../../assets/registration.jpg);
    background-size: cover;
}
.formRegester{
    background-color: var(--bg-form);
}
.input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;  
    border: none;
    border-radius: 5px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    
}
.input:focus{
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--outline-color);
}
.btnRegister{
    background-color:var(--bg-btn) !important ;
    margin-top: 10px;
    padding: 8px 30px !important;
    transition: all 1s !important;
}
.btnRegister:hover{
    background-color: transparent !important;
    border: 1px solid var(--bg-btn) !important;
    letter-spacing: 5px;
}
.textColor,.heading{
    color: var(--text-color);
    font-family: "Livvic", sans-serif;
    font-weight: 500;
}
.heading{
    font-family: "Rubik Gemstones", system-ui;
}
.spiecialText{
    color: var(--spical-color-text);
    letter-spacing: 4px;
    font-family: "Autour One", system-ui;
}
.cursor{
    cursor: pointer;
}
.upload{
    background-color: var(--bg-btn);
    width: 250px;
    padding: 8px 30px;
    border-radius: 10px;
}
.textWarring{
    color: var(--bg-btn);
    opacity: 0;
    transition: all 1s;
}
.file:hover .textWarring{
    opacity: 1 ;
}