.sideBar{
  position: fixed ;
  top: 0;
  bottom: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  transition: .5s;
}
.logoSection{
  text-align: center;
  border-bottom: .5px solid rgba(40, 71, 122, 0.674);
  padding: 10px;
  margin-top: 15px;
}
.logoSection figure{
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0.2rem 1rem rgba(31, 73, 172, 0.393);
}
.sideBar li a{
  display: block;
  padding: 15px 20px;
  position: relative;
}
.sideBar li a,
.sideBar li a > i{
  color: #b1b3bb;
  font-size: 17px;
}
.sideBar li a[class='active']{
  background-color: #302b63;
  color: #FFFFFF;
}
.sideBar li a[class='active'] i{
  color: #FFFFFF;
}
.sideBar li a[class='active']::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #50B8E4;
}

.sideBar li div a{
  font-size: 14px;
  padding-left: 50px;
}
