/* Start Global Styles */

.bg-main{
  background-color: #DFE5F9;
}
.bg-night{
  background-color: #1F263E !important;
}
.btn-night{
  background-color: #1F264D !important;
  color: white;
}
.btn-night:hover{
  background-color: #1F263E !important;
  color: white;
}
.orangeStyle{
  background-color: #fef3c7;
  color: #dd841a;
}
.blueStyle{
  background-color: #dbeafe;
  color: #2764eb;
}
.greenStyle{
  background-color: #ccfbf1;
  color: #14988c;
}
.dangerStyle{
  background-color: #fceaee;
  color: #ea4d6a;
}
.text-night{
  color: #1F263E;
}
.bg-midNight{
  background-color: #303750;
}
.bg-nile{
  background-color: #50B8E4 !important;
}
.text-nile{
  color: #50B8E4;
}
.textNile{
  color: #50B8E4;
}
.textGray{
  color: #b1b3bb
}
.bg-milk{
  background-color: #FFFFFF;
}
.textMilk{
  color: #FFFFFF;
}
.borderBottom-nile{
  border-bottom: 3px solid #50B8E4;
}
.ps-60{
  padding-left: 60px;
}
.ps-250{
  padding-left: 250px;
}
.-start-250{
  left: -250px;
}
.fs-17{
  font-size: 17px;
}
.fs-15{
  font-size: 15px;
}
.fs-14{
  font-size: 14px;
}
.fs-13{
  font-size: 13px;
}
.fs-12{
  font-size: 12px;
}
a{
  text-decoration: none;
}
.cursor-pointer{
  cursor: pointer;
}
.rounded-full{
  border-radius: 50%;
}
.AppContainer {
  transition: .5s;
}
.websiteNavBar .active{
  color: #d81882 !important;
  position: relative;
}
.websiteNavBar .active::after{
  content: "";
  height: 1px;
  background-color: #d81882;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.bg-pink{
  background-color: #d81882 !important;
}
.text-pink{
  color: #d81882 !important;
}
/* End Global Styles */

.rdp-button{
  background-color: hsla(227, 25%, 25%,.35) !important;
  border: 0;
  outline: 0;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 4px;
  color:#fff
}
.rdp-day_selected{
  background-color: hsla(178, 79%, 39%,.45) !important;
}
.rdp-day_selected:hover {
  background-color: hsla(178, 79%, 39%,.45) !important;
  opacity: 1;
}