.bg-main{
  background-color: #DFE5F9;
}
.bg-night{
  background-color: #1F263E;
}
.bg-midNight{
  background-color: #303750;
}
.bg-nile{
  background-color: #50B8E4;
}
.textNile{
  color: #50B8E4;
}
.textGray{
  color: #b1b3bb
}
.bg-milk{
  background-color: #FFFFFF;
}
.textMilk{
  color: #FFFFFF;
}
